{% include 'design_md/p0_front.md.j2' %}
{% include 'design_md/p1_a.md.j2' %}
{% include 'design_md/p2_b_agents_tools_discovery.md.j2' %}
{% include 'design_md/p3_b_rag_embedding.md.j2' %}
{% include 'design_md/p4_c_criteria.md.j2' %}
{% include 'design_md/p5_c_bessemer_roi_check.md.j2' %}
{% include 'design_md/p6_d_graph.md.j2' %}
{% include 'design_md/p7_e_report_appendix.md.j2' %}
